<!DOCTYPE html>
<html lang="en" ng-app="calculatorApp" ng-controller="myCtrl">
<head>
	<meta charset="UTF-8">
	<title>Waitstaff Calculator</title>
	<link rel="stylesheet" href="styles/calculator.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="scripts/calculator.js"></script>
</head>
<body>
	<h1>Waitstaff Calculator</h1>
  <section class="details">
    <h2>Enter the Meal Details</h2>
  	<form name="calculatorForm" novalidate ng-submit="submit()">
      <div>
        <label for="price">Base Meal Price: $</label>
        <input type="number" id="price" ng-model="price" required>
      </div>
      <div>
        <label for="tax">Tax Rate: %</label>
        <input type="number" id="tax" ng-model="tax" required>
      </div>
      <div>
        <label for="tip">Tip Percentage: %</label>
        <input type="number" id="tip" ng-model="tip" required>
      </div>
      <button type="reset" value="clear">Clear</button>
      <button type="submit" value="submit" class="submit">Submit</button>
      <div ng-if="calculatorForm.$submitted" ng-messages="calculatorForm.$error" class="formErrors">
        <span class="error" ng-message="required">All fields are required!</span>
        <span class="error" ng-message="number">You must supply only numeric vales!</span>
      </div>
  	</form>
  </section>
  <section class="results">
    <section>
      <h2>Customer Charges</h2>
      <dl>
        <dt>Subtotal</dt>
        <dd>{{currentCharge.subtotal}}</dd>
        <dt>Tip</dt>
        <dd>{{currentCharge.tip}}</dd>
        <dt class="total">Total</dt>
        <dd class="total">{{currentCharge.total}}</dd>
      </dl>
    </section>
    <section>
      <h2>My Earnings Info</h2>
      <dl>
        <dt>Tip Total</dt>
        <dd>{{tipTotal}}</dd>
        <dt>Meal Count</dt>
        <dd>{{mealCount}}</dd>
        <dt>Average tip per meal</dt>
        <dd>{{avgTip}}</dd>
      </dl>
    </section>
  </section>
  <button type="button" ng-click="reset()">Reset</button>
</body>
</html>