* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}
a, a:visited {
  text-decoration: underline;
  color: #b82c02;
}
a:hover {
  text-decoration: none;
}
a.current {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}
nav {
  text-align: center;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin: 0 .5rem;
}
h1, h2 {
  font-weight: 500;
}
h1 {
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
}
h2 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.8rem;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  padding: .5rem;
}
.home {
  margin: 2rem auto;
  text-align: center;
  font-size: 1.1rem;
}
.details {
  width: 50%;
  margin: 1rem auto;
  border: 1px solid #000;
}
.details h2 {
  border: none;
  border-bottom: 1px solid #000;
}
dl {
  /*border: 1px solid #000;*/
  padding: 0.6rem;
}
dt, label {
  float: left;
  clear: left;
  width: 9.7rem;
  text-align: right;
  margin-right: .3rem;
}
dt:after {
  content: ":";
}
dt.total, dd.total {
  border-top: 1px solid #000;
  padding-top: .5rem;
}
dd {
  margin: 0 0 0 6.9rem;
  padding: 0 0 .5rem 0;
}
form {
  padding: 0.6rem;
}
form div {
  padding-bottom:.5rem;
}
input, button {
  padding: 4px;
  font-size: .85rem;
  border: 1px solid #000;
  vertical-align: middle;
}
button {
  width: 20%;
  margin: .5rem 0;
  float: right;
  background-color: #e6e6e6;
}
button.submit {
  margin-right: 1rem;
}
button.reset {
  margin-right: .6rem;
  margin-bottom: 1.1rem;
}
label {
  margin-right: .2rem;
}

.formErrors {
  padding-top: 1rem;
  text-align: center;
}

.error { 
  color: #b82c02;
  font-weight: 700;
}
.ng-submitted .ng-invalid { 
  border: 1px solid #b82c02; 
}

.animate-view-container { 
  position:relative; 
  min-height: 100%;
}
.animate-view.ng-enter,.animate-view.ng-leave {
  transition:1s linear all;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.animate-view.ng-enter { 
  opacity:0; 
  z-index:100; 
}
.animate-view.ng-enter.ng-enter-active { 
  opacity:1; 
}
.animate-view.ng-leave { 
  opacity:1; 
  z-index:99; 
}
.animate-view.ng-leave.ng-leave-active { 
  opacity:0; 
}


.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */